@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  background: black;
}
.sliderContainer {
  position: absolute;
  top: calc(100vh - 290px);
}

@media screen and (max-width: 640px) {
  .sliderContainer {
    position: absolute;
    top: 80%; 
  }
}


@media screen and (width: 640px) {
  .sliderContainer {
    position: absolute;
    top: 60%
  }
}
.clase{
  transition: all 0.3s linear;
}
.clase:hover h1{
transform: translateY(-8px);
transition: all 0.3s linear;
}

.clase:hover p{
transform: translateY(8px);
transition: all 0.3s linear;
}

.animacion{
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}


.my-image {
  object-fit: cover;
}

@media (min-width: 500px) {
  .my-image {
    object-fit: contain;
  }
} 
.plane {
  width: 100%;
  height: 100%;
  position: absolute;
}

.plane img {
  position: absolute;
}


.plane:nth-of-type(1) img:nth-of-type(1) {
  left: 70%;
  top: 70%;
}

.plane:nth-of-type(1) img:nth-of-type(2) {
  left: 5%;
  top: 65%;
}

.plane:nth-of-type(1) img:nth-of-type(3) {
  left: 40%;
  top: 0%;
}



.plane:nth-of-type(2) img:nth-of-type(1) {
  left: 5%;
  top: 10%;
}

.plane:nth-of-type(2) img:nth-of-type(2) {
  left: 80%;
  top: 5%;
}

.plane:nth-of-type(2) img:nth-of-type(3) {
  left: 60%;
  top: 60%;
}


.plane:nth-of-type(3) img:nth-of-type(1) {
  left: 65%;
  top: 2.5%;
}

.plane:nth-of-type(3) img:nth-of-type(2) {
  left: 40%;
  top: 75%;
}
.plane2{
  position: absolute;
  width: 100%;
  height: 100%;
}

.plane2 img {
  position: absolute;
}

.plane2 .image-1 {
  top: 70%;
  left: 20%;
}

.plane2 .image-2 {
  top: 60%;
  left: 40%;
}


.plane2 .image-3 {
  top: 73%;
  left: 60%;
}
.plane2 .image-4 {
  top: 10%;
  left: 45%;
}

.plane2 .image-5 {
  top: 12%;
  left: 29%;
}
.plane2 .image-6 {
  top: 20%;
  right: 32%;
}

.plane2 .image-7 {
  top: 40%;
  left: 15%;
}
.plane2 .image-8 {
  top: 2%;
  left: 50%;
}

.plane2 .image-9 {
  top: 12%;
  left: 10%;
}
.plane2 .image-10 {
  top: 30%;
  right: 20%;
}
.column:nth-of-type(1){
  top: -55%;
}
.column:nth-of-type(2){
  top: -78%;
}
.column:nth-of-type(3){
  top: -75%;
}