@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  background: black;
  cursor: wait;
  overflow-y: hidden;
}
.sliderContainer {
  position: absolute;
  top: calc(100vh - 290px);
}
@media screen and (max-width: 1024px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 640px) {
  .sliderContainer {
    position: absolute;
    top: 80%;
  }
}

@media screen and (width: 640px) {
  .sliderContainer {
    position: absolute;
    top: 60%;
  }
}
.clase {
  transition: all 0.3s linear;
}
.clase:hover h1 {
  transform: translateY(-8px);
  transition: all 0.3s linear;
}

.clase:hover p {
  transform: translateY(8px);
  transition: all 0.3s linear;
}

.animacion {
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.my-image {
  object-fit: cover;
}

@media (min-width: 500px) {
  .my-image {
    object-fit: contain;
  }
}
.plane {
  width: 100%;
  height: 100%;
  position: absolute;
}

.plane img {
  position: absolute;
}

.plane:nth-of-type(1) img:nth-of-type(1) {
  left: 8%;
  top: 70%;
}

.plane:nth-of-type(1) img:nth-of-type(2) {
  left: 5%;
  top: 55%;
}

.plane:nth-of-type(1) img:nth-of-type(3) {
  left: 60%;
  top: 0%;
}

.plane:nth-of-type(2) img:nth-of-type(1) {
  left: 5%;
  top: 15%;
}

.plane:nth-of-type(2) img:nth-of-type(2) {
  left: 80%;
  top: 51%;
}

.plane:nth-of-type(2) img:nth-of-type(3) {
  left: 65%;
  top: 60%;
}

.plane:nth-of-type(3) img:nth-of-type(1) {
  top: 73%;
  left: 70%;
}

.plane:nth-of-type(3) img:nth-of-type(2) {
  left: 40%;
  top: 75%;
}
.plane:nth-of-type(3) img:nth-of-type(3) {
  left: 65%;
  top: 85%;
}
.plane2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.plane2 img {
  position: absolute;
}

.plane2 .image-1 {
  top: 80%;
  left: 20%;
}

.plane2 .image-2 {
  top: 32%;
  left: 15%;
}

.plane2 .image-3 {
  left: 81%;
  top: 2.5%;
}
.plane2 .image-4 {
  top: 18%;
  left: 63%;
}

.plane2 .image-5 {
  top: 18%;
  left: 29%;
}
.plane2 .image-6 {
  top: 33%;
  right: 13%;
}

.plane2 .image-7 {
  top: 60%;
  left: 35%;
}
.plane2 .image-8 {
  top: 2%;
  left: 40%;
}

.plane2 .image-9 {
  top: 2%;
  left: 15%;
}
.plane2 .image-10 {
  top: 30%;
  right: 40%;
}
.column:nth-of-type(1) {
  top: -55%;
}
.column:nth-of-type(2) {
  top: -78%;
}
.column:nth-of-type(3) {
  top: -75%;
}
.hvr-radial-out {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.hvr-radial-out:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  color: white;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
